html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*------- FOTOCONTROLLER(INDEX) MAIN -------*/

.ms-background-index{
    background-color: whitesmoke;
    border-radius: 10px;
}

.ms-container{
    width: 50vw;
    height: 50vh;
    margin: auto;
}