html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #403d39;
}

.ms-header {
    background-color: #403d39;
}

.ms-header-title{
    font-size: 24px;
}

.ms-head-home:hover{
    transform: scale(1.1);
}

.ms-head-privacy:hover {
    transform: scale(1.1);
}

.ms-log-button {
    transform: scale(1.1);
}

.ms-contactus-form{
    color: white;
}

.ms-add-btn{
    margin-left: 14px;
}

.ms-or-add {
    margin-left: 73px;
    margin-bottom: 10px;
}
/*------- FOTOCONTROLLER(INDEX) MAIN -------*/
.ms-background-index {
    background-color: whitesmoke;
    border-radius: 10px;
}

.ms-container{
    width: 50vw;
    height: 50vh;
    margin: auto;
}
<<<<<<< HEAD
=======

/*------- HOMEPAGE GUESTS -------*/

.ms-col{
    height: 100vh;
    overflow-y: auto;
    background-color: whitesmoke;
}
/*>>>>>>> 89279a5e3ac80e423021da1b4a40f2b05d830959
*/

.ms-search-input{
    border: 0.5px solid black;
    border-radius: 10px;
}