
@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center ms-background-index px-2 py-2">
    <h1 class="ms-main-title">Le mie foto principali!</h1>

    <div class="text-start mx-4" id="foto-filter">
        <label class="d-block">Cerca le immagini per nome!</label>
        <input class="ms-search-input py-1 px-1 my-2" placeholder="Inserisci il nome" type="text" value="" />
    </div>

    <div class="row px-4 py-2 gx-2" id="ms-fotos">

    </div>

    @if (User.IsInRole("Admin"))
    {
        <a class="btn btn-primary" href="@Url.Action("Create", "Foto")">Aggiungi</a>   
    }
</div>
@if (!User.IsInRole("Admin"))
{
<div class="container-xs mt-2">
    <form onsubmit="submitForm(event)">
        <h1>Contattaci!</h1>
        <div class="my-2">
            <label class="d-block" for="email" class="form-label">Inserisci la tua mail:</label>
            <input id="ms-email" class="form-control" name="email" type="email" value="" />
        </div>
        <div class="my-2">
            <label class="d-block" for="message" class="form-label">Inserisci il tuo messaggio:</label>
            <textarea id="ms-message" class="form-control" name="message"></textarea>
        </div>
        <button class="btn btn-success" type="submit">Invia</button>
        <button class="btn btn-warning" type="reset">Cancella</button>
    </form>
</div>
}

@section Scripts
{
    <script>

        loadFoto();
        initFilter();

    </script>
}
@*<div class="py-2">
    @foreach (var cat in @foto.Categories!)
    {
        <a href="@Url.Action("Index", "Category")" class="badge bg-warning">@cat.Name</a>
    }
  </div>*@